body {

  color:rgb(136, 160, 184);
  background-color: rgb(60, 80, 100);

}

.widecontainer {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

a:link {
    color: rgb(64, 64, 255);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(128, 128, 255);
}
a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

td, th {
    color: #A0522D;
}



.nav_pad{
  padding-top:40px;
}
.section{
  padding-top: 30px;
  padding-bottom:40px;

}

.mid-section{
  padding-top: 120px;
  padding-bottom:40px;

}

.key {
  font-weight:bold;


}
.stripe {
 background-color: #DADADA;
}


ul.disc{
  list-style: disc;
  margin-left: 15px
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    padding-right:10px;
}


.statement_text {
/** eagles green  */
    background-color: rgb(0, 73, 83);
    padding: 12.5px;
    margin-top: 23px;
    border: 12.5px dashed rgb(255, 255, 255);
}
