body {


  color: rgb(64, 0, 160);
  background-color: rgb(96, 160, 192);

}

.widecontainer {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

a:link {
  color: rgb(32, 32, 255);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(96, 96, 255);
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:active {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

td,
th {
  color: #A0522D;
}



.nav_pad {
  text-align: center;
  padding-top: 40px;
  background-color: rgb(96, 192, 192);
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 20px;
}

.center {
  text-align: center;
}

.section {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: rgb(96, 192, 192);
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 20px;
}

.head {
  text-align: center;
  padding-top: 20px;
  background-color: rgb(96, 192, 192);
  /* width: 250px; */
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
  /* translate: 250px; */
}

.mid-section {
  padding-top: 120px;
  padding-bottom: 40px;
}

.key {
  font-weight: bold;
}

.stripe {
  background-color: #DADADA;
}


ul.disc {
  list-style: disc;
  margin-left: 15px
}


.navbar ul li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}


.statement_text {
  /** eagles green  */
  background-color: rgb(0, 73, 83);
  padding: 12.5px;
  margin-top: 23px;
  border: 12.5px dashed rgb(255, 255, 255);
}