body {


  color: rgb(64, 0, 160);
  background-color: rgb(96, 160, 192);

}

.widecontainer {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

a:link {
  color: rgb(32, 32, 255);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(96, 96, 255);
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:active {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

td,
th {
  color: #A0522D;
}



.nav_pad {
  text-align: center;
  padding-top: 40px;
  background-color: rgb(96, 192, 192);
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 20px;
}

.center {
  text-align: center;
}

.section {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: rgb(96, 192, 192);
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 20px;
}

.fix{
  background-color: rgb(96, 192, 192);
}

.head {
  text-align: center;
  padding-top: 20px;
  background-color: rgb(96, 192, 192);
  /* width: 250px; */
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
  /* translate: 250px; */
}

.mid-section {
  padding-top: 120px;
  padding-bottom: 40px;
}

.key {
  font-weight: bold;
}

.stripe {
  background-color: #DADADA;
}


ul.disc {
  list-style: disc;
  margin-left: 15px
}


.navbar ul li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}


.statement_text {
  /* eagles green  */
  background-color: rgb(0, 73, 83);
  padding: 12.5px;
  margin-top: 23px;
  border: 12.5px dashed rgb(255, 255, 255);
}


/* CADRE*/
/* img {
    width: 100%;
}

iframe{
    display: block;
    margin: auto;
}

.border-bottom {
    border-bottom: none !important;
}

.shadow-lg {
    box-shadow: none !important;
}

.navbar-width {
    max-width: 1320px !important;
    margin: auto !important;
}

.fakeimg {
    height: 200px;
    background: white;
    text-align: center;
    mix-blend-mode: multiply;
}

.btn-dark, 
.btn-primary{
    background-color: #7e67f6;
    border: none;
}

.btn:hover{
    background-color: #129b77;
}

.bg-primary{
    background-color: #7e67f6!important;
}

.bi{
    fill: #7e67f6;
    transition: fill .15s ease-in-out;
}

#Layer_2{
    fill: #129b77;
    transition: fill .15s ease-in-out;
}

#Layer_2:hover{
    fill: #7e67f6;
    transition: fill .15s ease-in-out;
}

#slideshow{
    margin: auto;
}

a.navbar-brand{
    transition: ease-in-out;
}

a.navbar-brand:hover{
    transition: ease-in-out;
}

.accordion{
    mix-blend-mode: multiply;
}

.card-img-top.d-block.img-fluid.rounded{
    background-color: #fff0!important;
}

.col-sm-3.mt-5.card.border-0{
    background-color: #fff0!important;
}

.text-center{
    max-width: 788px;
    margin: auto;
}

.bi:hover{
    fill:#129b77!important;
    transition: fill .15s ease-in-out;
}

.img-wrapper {
  display:inline-block; 
  width:100px; 
  overflow:hidden; 
} */